<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekday</title>
</head>
<body>
   
    <h1><%= kindOfDay %></h1>
    <form action="/delete" method="post">
    <% newItems.forEach(function(item) { %>
        <input type="checkbox" name="check"  value="<%= item._id %>" onChange="this.form.submit()">
        <p><%= item.name %></p>
       
    <% }); %>
    <input type="hidden" name="result" value="<%= kindOfDay %>">
</form>
    

    <form action="/" method="post">
        <input type="text" name="lavesh">
        <button type="submit" name="subVal" value="<%= kindOfDay %>"> Add</button>
        
    </form>
   
</body>
</html>
